<h3>Bienvenido!</h3>
<hr>
<h2>Ingrese los datos del libro que desea donar</h2>
<hr>
<form (ngSubmit)="guardar(f)" #f="ngForm">

   <div class="form-group">
      <label>Firebase ID</label>
      <input type="text" class="form-control" placeholder="Firebase ID" 
      
      name="id" disabled="disabled"> 
      <small class="form-text text-muted">Este campo se generara automaticamente</small>
   </div>

   <div class="form-group">
      <label>Nombre del Libro</label>
      <input type="text" class="form-control" placeholder="Nombre del libro" 
       
      name="nombre" required> 
   </div>

   <div class="form-group">
      <label>Tema del Libro</label>
      <input type="text" class="form-control" placeholder="Tema del libro" 

      name="tema" required>
   </div>

   <div class="form-group">
      <label>Autor del Libro</label>
      <input type="text" class="form-control" placeholder="Nombre del Autor" 

      name="autor" required>
   </div>

   <div class="form-group">
      <label> Donador del libro</label>
      <input type="text" class="form-control" placeholder="Nombre del donador"

      name="donador" required>
   </div>

   <div class="form-group">
      <label>Estado</label>
      <br>

      <button *ngIf="libro.estado" (click)="libro.estado=false" class="btn btn-outline-succes w-50" type="button">Disponible</button>
      <button *ngIf="!libro.estado" (click)="libro.estado=true" class="btn btn-outline-danger w-50" type="button">Ocupado</button>

   </div>

   <hr>
   <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-25">Guardar</button>
   </div>
</form>