<div class="bg-warning border-right p-3" id="sidebar">
   <h3 class="text-primary list-reset">Biblio Web</h3>
   <hr class="text-primary">
    <h2>Funciones</h2>
  <hr>
  <ul class="list-group">
    <li routerLink="inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Inicio</li>

    <li routerLink="pedir" routerLinkActive="active" class="list-group-item">Pedir Libro</li>
    
    <li routerLink="sacar" routerLinkActive="active" class="list-group-item">Sacar Libro</li>
    
    <li routerLink="donar/nuevo" routerLinkActive="active" class="list-group-item">Donar Libro</li>
    
  </ul> 

</div>

 