<div class="bg-warning border-right p-3" id="sidebar">
   <h3 class="text-primary list-reset">Biblio Web</h3>
   <hr class="text-primary">
    <h2>Funciones</h2>
  <hr>
  <ul class="list-group">
    <li 
    routerLink="" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}" 
    class="list-group-item">
    Pedir Libro
  </li>
    
    <li routerLink="Sacar" routerLinkActive="active" class="list-group-item">sacar Libro</li>
    
    <li routerLink="Donar" routerLinkActive="active" class="list-group-item">Donar Libro</li>
    
  </ul> 

</div>

 